includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Access to an undefined property Payplug\\Resource\\Payment::\$#'
